:root {
    --font-s: 1rem;
    --font-m: 2rem;
    --font-l: 3rem;
}



* {
    margin: 0px;
    padding: 0px;
}

.menu {
    background-image: url("../images/cafe_main.jpg");

    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    z-index: -1;
    position: relative;
}



.description {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    color: white;


}

.describe1 {
    position: absolute;
    top: 150px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 50;

}

.describe2 {
    position: absolute;
    top: 200px;
    justify-content: center;
    align-items: center;

    font-size: var(--font-l);
    font-weight: 900;
    text-transform: uppercase;
}

.describe2::before {
    content: '';
    height: 1px;
    bottom: 10px;
    background-color: rgb(241, 213, 175);
}

.describe3 {
    position: absolute;
    top: 300px;
    font-size: var(--font-s);
    width: 65%;
    justify-content: center;
}

.menu_btn {
    position: absolute;
    top: 350px;
    margin: 20px;


}

.checkMenu_btn {
    background-color: rgb(226, 171, 100);
    color: rgb(230, 214, 195);
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 1.2rem;
}

@media all and (max-width:440px) {}

@media all and (max-width:1280px) {}