:root {
    --font-s: 1rem;
    --font-m: 2rem;
    --font-l: 3rem;
}

section {
    height: 100vh;
    width: 100%;
    /* font-family: "Delius", cursive; */
    font-family: "Sahitya", serif;

    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

.menu {
    background-image: url("../images/cafe_main.jpg");

    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    z-index: -1;

}




.contact {
    display: flex;
    float: left;
}

.social_icons {
    margin: 10px;
}

.contact_addr {
    display: flex;
    float: left;
    position: relative;
    left: 1000px;

}

.contact_addr p {
    color: white;
    margin: 10px 10px;

    font-size: 0.7rem;
}

.nav {
    background-color: white;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0px;

}

.nav_logo {
    position: relative;
    margin: 10px;
}

.nav_options {
    position: relative;

}

.nav_list {
    list-style: none;
    font-size: var(--font-s);

}

.nav ul {
    position: relative;

    overflow: hidden;
    display: flex;

    left: 1000px;
}

.nav ul li {}

.nav ul li a {
    color: black;
    display: block;
    padding: 30px 20px;
    text-decoration: none;
    text-transform: uppercase;

}

.arrow {}

@media all and (max-width:440px) {
    .nav ul {
        position: relative;

        overflow: hidden;
        display: flex;

        left: 250px;
    }
}

@media all and (max-width:1280px) {
    .nav ul {
        position: relative;
        left: 550px;
    }

    .nav ul li a {

        padding: 30px 10px;
    }

    .contact_addr {

        position: relative;
        left: 800px;

    }

}